@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Tilt+Warp&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    /*font-family: 'Tilt Warp', sans-serif;*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}
:root {
    --body-color:#9B27B00D;
    --sidebar-color:#FFFFFF;
    --primary-color:#9C27B0;
    --primary-color-light:#9B27B00D; 
    --toggle-color:#DDDDDD;
    --text-color: #707070;

    --tran-03: all 0.2s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.4s ease;
}

body{
    min-height: 100vh;
    background: radial-gradient(circle, rgba(241,241,241,1) 0%,
    rgba(245,223,254,1) 35%, rgba(223,250,218,1) 100%);
    transition: var(--tran-05);
    
}
::selection{
    background-color: var(--primary-colorr);
    color: #FFFFFF;
}

.sidebar{  /** barra propiedades*/
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;
}

.sidebar.close{
    width: 88px;
}

.sidebar li{
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text, 
.sidebar .icon {
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text{
    font-size: 16px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}

.sidebar.close .text{
    opacity: 0;
}

.sidebar header{
    position: relative;
}

.sidebar header .logo{
    display: flex;
    flex-direction: column;
}

.name{
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

.profe{
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img{
    width: 40px;
    border-radius: 6px;
}

.sidebar header .toggle{ /*Icono del menu*/
    position: absolute;
    top: 20%;
    right: 0px;
    height: 38px;
    width: 35px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    cursor: pointer;
    transition: var(--tran-05);
    border-radius: 5%;
}
.sidebar.sidebar.close .toggle{
    width: 100%;
    top: 20%;
}

.sidebar .menu{
    margin-top: 40px;

}
.sidebar li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover{
    background-color: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}

.sidebar .menu-bar{
    height: calc(100% -55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: scroll;
}

.menu-bar::-webkit-scrollbar{
    display: none;
}

.sidebar .menu-bar .mode{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}
.membrete{
    position: sticky;
    top: 0;
    left: 250px;
    height: 10vh;
    width: 30vh;
    background-color: var(--primary-color);
    transition: var(--tran-05);
    box-shadow: rgba(17, 17, 26, 0.05) 0px 2px 0px, 
                rgba(17, 17, 26, 0.1) 0px 3px 8px;
}

.membrete .text{
    font-size: 30px;
    font-weight: 500;
    color: white;
    padding: 12px 60px;
}

.sidebar.close ~ .membrete{
    left: 78px;
    height: 10vh;
    width: calc(100% - 78px);
}


/** ESTRUCTURA DE HOME**/
 
.home{
    padding: 40px;
    margin-left: 5%;
    position: static;
    height: 90vh;
    width: 95,2%;
    background: rgb(241,241,241);
    background: radial-gradient(circle, rgba(241,241,241,1) 0%,
     rgba(245,223,254,1) 35%, rgba(223,250,218,1) 100%);
    /*background-size: cover;
    background-position: center;*/
    
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    display: grid;
}


.home-img img{
    height: 400px;
    width:400px;
    margin-left: 30px;
}
.home-text{
    margin-left: 70px;
}
.home-text h1{
    font-size: 2.6rem;
    margin: 15px 0 15px;
    color: #0e7f23;
}
.home-text h6{
    color: #24003c;
    font-size: 18px;
    font-weight: 60;
}

/* SEARCH BAR */
.cont-search{
    display: flex;
    height: 60px;
    width: 100%;
    
    align-items: center;
    background-color: transparent;
}
.search-box{
    height: 40px;
    display: flex;
    cursor: pointer;
    padding: 10px 20px;
    background: #ffffff;
    border-radius: 30px;
    align-items: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-top: 10px;
}
.search-box:hover input{
    width: 400px;
}
.search-box input{
    width: 0;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.8s;
    background: transparent;
}

/** FOOTER **/

.footer{
    width: 100%;
    position: static;
    bottom: 0;
    color: #ffffff;
    padding: 50px 0 30px;
    border-top-right-radius: 125px;
    font-size: 13px;
    line-height: 20px;
    background: linear-gradient(to right, #24003c, #002d08);
}
.row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.col{
    flex-basis: 22%;
    padding: 10px;
    margin-left: 3%;
}
.logo{
    width: 150px;
    margin-bottom: 2px;
   
}
#icons a{
    display: inline-block;
    font-size: 25px;
    color: #FFFFFF;
    margin-left: 4%;
    transition: all .40s ease;
}
#icons a:hover{
    color: #DDDDDD;
    transform: translateY(-5px);
}
.col h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
    font-size: 20px;
}
.col li{
    transition: all .40s ease; 
}
.col li:hover{
    transform: translateY(-5px) translateX(5px);
}
ul li{
    list-style: none;
    margin-bottom: 12px;
}
ul li a{
    text-decoration: none;
    color: rgb(235, 243, 230)
}

/** ESTRUCTURA DE CONTENEDOR**/
.container-texto{
    justify-content: center;
    text-align: center;
    margin-left: 350px;
    margin-right: 350px;
    margin-top: 35px;
    margin-bottom: 35px;
}

.featurette-divider{
    border-top: 1px solid rgb(211, 211, 211);
    height: 2px;
    padding: 0;
    margin: 20px auto 0 auto;
}
.container-texto h1{
    font-size: 48px;
    font-weight: 600;
    letter-spacing: -1px;
}

.container-texto p{
    color: rgb(80, 80, 80);
}

.container{
    justify-content: center;
    display: flex;
    align-items: stretch;
    gap: 25px;
    margin-left: 45px;
}

/** ESTRUCTURA DE CARD**/
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 260px;
    padding: 20px 1px;
    margin: 10px 0;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.4),0 4px 6px -4px rgba(0, 0, 0, 0.562);
    border-radius: 10px;
    background-color: #6B6ECC;
    background: linear-gradient(45deg, rgba(237, 232, 240, 0.918) 0%, #e6e3e9 100%);
  }

  .card-s {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 260px;
    height: 290px;
    padding: 20px 1px;
    margin: 10px 0;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.4),0 4px 6px -4px rgba(0, 0, 0, 0.562);
    border-radius: 10px;
    background-color: #6B6ECC;
    background: linear-gradient(45deg, rgba(237, 232, 240, 0.918) 0%, #e6e3e9 100%);
  }
  
  .content {
    padding: 20px;
  }
  
  .content .price {
    color: rgb(59, 7, 102);
    font-weight: 800;
    font-size: 50px;
  }

  .content .price-s{
    color: rgb(73, 18, 119);
    font-weight: 800;
    font-size: 35px;
  }
  
  .content .description {
    color: rgba(0, 0, 0, 0.658);
    margin-top: 10px;
    font-size: 14px;
  }
  
  .content .title {
    font-weight: 800;
    color: rgba(0, 0, 0, 0.822);
    margin-top: 10px;
    font-size: 25px;
    letter-spacing: 1px;
  }

  .content .title-s {
    font-weight: 800;
    color: rgba(0, 0, 0, 0.822);
    margin-top: 10px;
    font-size: 20px;
    letter-spacing: 1px;
  }
  
  button {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: none;
    outline: none;
    color: rgb(255 255 255);
    text-transform: uppercase;
    font-weight: 700;
    font-size: .75rem;
    padding: 0.75rem 1.5rem;
    background-color: rgb(63, 15, 92);
    border-radius: 0.5rem;
    width: 90%;
    text-shadow: 0px 4px 18px #2c3442;
    transition: all .2s ease
  }

  button:hover{
    background-color: rgb(187, 144, 212);
    cursor: pointer;
  }
  